<!DOCTYPE html>
<html>
<head>
    <title>Employee Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h2>Employee Login</h2>

    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">

    <button onclick="employeeLogin()">Login</button>

    <p id="result"></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>