<!DOCTYPE html>
<html>
<head>
    <title>Customer Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h2>Customer Login</h2>

    <input type="text" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Password">

    <button onclick="login()">Login</button>

    <p id="result"></p>

    <hr>

    <h3>Employee Access</h3>
    <button onclick="goToEmployeeLogin()">Employee Login</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>